.category-container {
  display: grid;
  padding: 10vw;
  gap: 1rem;

  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.category-container a {
  padding: 1em;
  text-align: center;
  text-decoration: none;
  border-radius: 1em;
  color: #333;
  border: 0.5px solid #333;
  font-size: 1.5em;
    transition: background-color .2s, border .2s;
}

.category-container a:hover {
  background-color: #fffda0;
  border: 0.5px solid #fffeb4;
  
}
